<div class="row">
	<div class="col-md-3">
		Left sidebar stuff
	</div>
	<div class="col-md-6">
	<% if current_user %>
		<h1>@<%= current_user.username %>'s Twitter Feed</h1>
		<p>Here is what your "friends" are saying:</p>

		<div>
		    <% @following_tweets.each do |tweet| %>
		        <!-- <div>
		        	<p>
		        		<%= link_to "@#{tweet.user.username}", show_user_path(tweet.user.id) %> - <%= tweet.message.html_safe %>
		        	</p>
				</div> -->
			  <div class="well">
			    <p>
			      <%#= image_tag tweet.user.avatar.url, class: "user-pic-nav" %> 
			      <%= link_to tweet.user.name, show_user_path(id: tweet.user_id) %> 
			      @<%= link_to tweet.user.username, show_user_path(id: tweet.user_id) %> 
			      • <%= time_ago_in_words(tweet.created_at) if Time.now - tweet.created_at < 86400 %> 
					<%= tweet.created_at.strftime('%e %b %y') if Time.now - tweet.created_at > 86400 %> 
			    </p>
			    <p><%= tweet.message.html_safe %></p>
			  </div>
		    <% end %>
		</div>

	<% else %>

		<div class="jumbotron">
			<h3>Why don't you <%= link_to "log in", new_user_session_path %> or sign up to see some content?</h3>
		</div>

	<% end %>
	</div>
	<div class="col-md-3">
		
		<div class="right-side-box">
			<div class="content">
				Right sidebar
			</div>
		</div>

	</div>
</div>